body{
    margin: 0;
    padding: 0;
    font-family: "Roboto",  sans-serif;

}
/* header */
.header-end{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    justify-items: center;
    background-color: rgb(255, 190, 159);
}
.header-end a {
    padding-top: 20px;
    text-decoration:none;
    color: #FFF;
    font-size: 16px;


}
.menu{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-top: 20px;
}
.menu .lien-1 ul{
    display: flex;
    /* gap: 6vh; */
    margin-left: -60px;

}
.menu .lien-1 ul {
    list-style-type: none;
}
.menu .lien-1 ul  a{
    text-decoration: none;
    margin-left: 4vh;
    color:#a72632;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}
.menu .lien-1 ul a:hover{

    /* padding-top: 10vh; */
     /* background-color: #a72632;  */
    border-bottom:3px solid rgb(167, 38, 50);  
}

.menu .logo{
    margin-right: 12vh;

}
.menu .icone a{
    text-decoration: none;
    margin-left: 20px;
    font-size: 28px;
    
    /* display:flex; */
    /* justify-content: space-between;
    flex-wrap: nowrap; */


}
.icone i{
     margin-top: 20px; 
    color: #a72632;
    
}

.pays{
    display: flex;
    margin-top: 15px;
    font-size: 16px ;
    color: #a72632;
    
}
.pays i{
    position: relative;
    top:18px;
    left: 10px;

}
.image1, .image2{
    background-size: cover;
    background-position: center;
    border-top: 5px solid #cfc7c7;
    width: 100%;
    height: 500px;
    margin-top: 30px;
    cursor: pointer;
    
} 
div.anime{
    position: relative;

}
img.image1{
    position: absolute;
}
div.image:hover .image2{
    opacity: 1;

}
div.anime:hover .image1{
    opacity: 0;

}
img.anime{
    transition: transform 2s ease;
    position: absolute;
}
/* .sec1{
    height: 90vh;
} */
/* .container{
    height: 70vh;
} */
.title{
    font-size: 26px;
    color: #a72632;
    text-align: center;

}
.galerie {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(4,250px);
     grid-template-rows: 250px; 
     /* column-gap:10px; */
     justify-content: space-around;
     
}
.photo1{
    background-image: url("Images/IMG3.webp");
}
.photo2{
    background-image: url("Images/IMG4.webp");
}
.photo3{
    background-image: url("Images/IMG5.webp");
}
.photo4{
    background-image: url("Images/IMG6.webp");
}
.photo1, .photo2, .photo3, .photo4{
    background-size: cover;
    background-position: center;
}
.box{
    margin-left: -30px;
    
}
.titre{
display: flex;
justify-content: space-around;


}
.titre1{
    margin-left: -20px;

} 

.titre2{

}
.titre3{

}
 .titre4{
    margin-left: -50px;

}
.titre a{
    text-decoration: none;
    
}
.titre h3{
    color: rgb(95, 91, 91);
    font-size: 20px;
    text-align: center;
}